@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Poppins:700&display=swap");

$font-sans: "Open Sans", sans-serif;
$font-poppins: Poppins, sans-serif;
$primary-color: hsl(322, 100%, 66%);
$shadow-pink: rgba(255, 82, 193, 0.15);
$dark-cyan: hsl(192, 100%, 9%);
$pale-blue: hsl(207, 100%, 98%);
$dark-green: #00252e;
$white: #fff;
$weight-regular: 400;
$weight-semi-bold: 600;
$weight-bold: 700;
$transition: 300ms ease-in-out;
$border-radius-5: 0.5rem;
$border-radius-6: 0.6rem;
$border-radius-11: 1.176rem;
$border-radius-20: 2rem;
$border-radius-40: 4rem;

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  font-family: $font-sans;
  font-size: 1.6rem;
}

h1,
h2,
h3,
p {
  margin: 0;
}

button {
  background: none;
  border: none;
  &:hover {
    cursor: pointer;
  }
}

.button--pink {
  color: $white;
  font-weight: $weight-bold;
  background-color: $primary-color;
  line-height: 1.5;
  box-shadow: 0 0.6rem 1.3rem $shadow-pink;
  transition: $transition opacity, $transition transform, $transition box-shadow;
  &:hover {
    opacity: 0.9;
    transform: translateY(-2px);
    box-shadow: 0 0.3rem 2rem $shadow-pink;
  }
  @media (max-width: 639px) {
    font-size: 1.2rem;
    padding: 1.1rem 3.9rem 1.1rem 4rem;
    border-radius: $border-radius-20;
  }
  @media (min-width: 640px) {
    font-size: 2rem;
    padding: 2.5rem 9.9rem 2.5rem 10rem;
    border-radius: $border-radius-40;
  }
}

.button--subscribe {
  line-height: 1.5;
  font-size: 1.6rem;
  color: $white;
  font-weight: $weight-bold;
  background-color: $primary-color;
  padding: 1.2rem 4.1rem;
  border-radius: $border-radius-5;
  transition: $transition transform, $transition box-shadow;
  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 0.3rem 2rem $shadow-pink;
  }
}

a {
  text-decoration: none;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 129.7rem;
  .brand {
    display: inline-block;
    @media (max-width: 639px) {
      max-width: 9.6rem;
    }
    @media (min-width: 640px) {
      max-width: 24rem;
    }
  }
  @media (max-width: 639px) {
    padding: 2.4rem 2.4rem 0;
  }
  @media (min-width: 640px) {
    padding: 7.8rem 6.3rem 0 8rem;
  }

  .brand__logo {
    width: 100%;
  }

  .button--header {
    color: $primary-color;
    text-transform: capitalize;
    font-weight: $weight-regular;
    transition: $transition background-color, $transition color,
      $transition box-shadow, $transition transform;
    @media (max-width: 639px) {
      line-height: 1.382;
      font-size: 0.941rem;
      border: 0.59px solid $primary-color;
      border-radius: $border-radius-11;
      padding: 0.529rem 1.776rem 0.524rem 1.824rem;
    }
    @media (min-width: 640px) {
      font-size: 1.6rem;
      line-height: 1.375;
      border: 1px solid $primary-color;
      border-radius: $border-radius-20;
      padding: 0.9rem 3rem 0.9rem 3.1rem;
    }
  }
  .button--header:hover {
    background-color: $primary-color;
    color: $pale-blue;
    transform: translateY(-2px);
    box-shadow: 0 0.5rem 1rem $shadow-pink;
  }
}

/* Intro */
.intro {
  text-align: center;
  @media (max-width: 639px) {
    padding: 11.2rem 4rem 0;
  }
  @media (min-width: 640px) and (max-width: 1199px) {
    padding: 7.5rem 5rem 0;
  }
  @media (min-width: 1200px) {
    padding: 22.5rem 0rem 0;
    max-width: 101.6rem;
    margin: 0 auto;
  }

  .t-intro-heading {
    line-height: 1.5;
    font-weight: $weight-bold;
    font-family: $font-poppins;
    @media (max-width: 639px) {
      font-size: 2.4rem;
    }
    @media (min-width: 640px) {
      font-size: 4.8rem;
    }
  }

  .intro-body {
    margin-bottom: 4.8rem;
    @media (max-width: 639px) {
      margin-top: 2.4rem;
    }
    @media (min-width: 640px) {
      margin-top: 2.7rem;
      margin-left: auto;
      margin-right: auto;
      max-width: 62rem;
    }
  }

  .intro__image-container {
    @media (max-width: 639px) {
      margin-top: 10.4rem;
    }
    @media (min-width: 640px) {
      margin-top: 12rem;
    }
    .intro__image {
      width: 100%;
    }
  }

  .t-intro-body {
    line-height: 1.5;
    font-weight: $weight-regular;
    font-family: $font-sans;
    @media (max-width: 639px) {
      font-size: 1.4rem;
    }
    @media (min-width: 640px) {
      font-size: 2rem;
    }
  }
}

/* Statistic*/
.statistic {
  padding-top: 12rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  @media (max-width: 639px) {
    padding-bottom: 2.17rem;
  }
  @media (min-width: 640px) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 53rem;
    padding-bottom: 13.3rem;
  }
  @media (min-width: 1200px) {
    max-width: 88rem;
  }
  @media (max-width: 639px) {
    .communities {
      margin-bottom: 8.853rem;
    }
  }
  .statistic-image-icon {
    display: flex;
  }
  @media (max-width: 639px) {
    .statistic-image-icon__image {
      max-width: 2.8rem;
    }
  }
  .statistic-body {
    text-align: center;
  }

  .t-statistic-number {
    font-weight: $weight-bold;
    line-height: 1.5;
    @media (max-width: 639px) {
      font-size: 5.352rem;
    }
    @media (min-width: 640px) and (max-width: 1199px) {
      font-size: 6.7rem;
    }
    @media (min-width: 1200px) {
      font-size: 9.6rem;
    }
  }

  .t-statistic-body {
    color: var(--color-gray-blue);
    font-weight: var(--weight-regular);
    line-height: 1.5;
    @media (min-width: 1200px) {
      font-size: 2.4rem;
    }

    @media (max-width: 639px) {
      font-size: 1.338rem;
    }
    @media (min-width: 640px) and (max-width: 1199px) {
      font-size: 2rem;
    }
    @media (min-width: 1200px) {
      font-size: 2.4rem;
    }
  }
}

// section containers
.section-image-container {
  margin: 0 auto;
  width: 74.667%;
  display: flex;
  align-items: center;
  justify-content: center;

  .section-image {
    width: 100%;
  }
  @media (min-width: 640px) {
    margin: 0;
  }
  @media (min-width: 640px) and (max-width: 1199px) {
    max-width: 36rem;
    .conversation-image-mb {
      margin-right: 2rem;
    }
  }

  @media (min-width: 1200px) {
    max-width: 56rem;
  }
}

.section-container {
  @media (max-width: 639px) {
    padding: 0 2.7rem;
  }
  @media (min-width: 640px) and (max-width: 1299px) {
    padding: 0 5rem;
  }

  @media (min-width: 1300px) {
    max-width: 120rem;
    margin: 0 auto;
  }
  .text-container {
    @media (min-width: 640px) and (max-width: 1039px) {
      max-width: 36rem;
    }
    @media (min-width: 1040px) {
      max-width: 52rem;
    }
    .section-heading {
      @media (max-width: 639px) {
        margin-bottom: 1.6rem;
      }
      @media (min-width: 640px) and (max-width: 869px) {
        margin-bottom: 1.8rem;
      }
      @media (min-width: 870px) {
        margin-bottom: 2.6rem;
      }
    }
    .t-section-heading {
      line-height: 1.5;
      font-family: $font-poppins;
      font-weight: $weight-bold;
      @media (max-width: 639px) {
        font-size: 2rem;
      }
      @media (min-width: 640px) and (max-width: 869px) {
        font-size: 2.4rem;
      }
      @media (min-width: 870px) {
        font-size: 4rem;
      }
    }
    .t-section-body {
      line-height: 1.5;
      font-weight: $weight-regular;
      @media (max-width: 639px) {
        font-size: 1.4rem;
      }
      @media (min-width: 640px) and (max-width: 869px) {
        font-size: 1.5rem;
      }
      @media (min-width: 870px) {
        font-size: 1.6rem;
      }
    }
  }
}

.section-inner-bg {
  background-color: $pale-blue;
}

// bg curve
.curve {
  display: flex;
}

.curve-top__image,
.curve-bottom__image {
  width: 100%;
}

@media (max-width: 639px) {
  .curve-top__image--desktop,
  .curve-bottom__image--desktop {
    display: none;
  }
}
@media (min-width: 640px) {
  .curve-top__image--mobile,
  .curve-bottom__image--mobile {
    display: none;
  }
}

//together
.image-right {
  @media (max-width: 639px) {
    text-align: center;
  }
  @media (min-width: 640px) {
    text-align: left;
    .flex-box {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: space-between;
    }
  }
  .inner-padding {
    @media (max-width: 639px) {
      padding-top: 8.222rem;
      padding-bottom: 5.7rem;
    }
    @media (min-width: 640px) {
      padding-top: 6.8rem;
      padding-bottom: 4.6rem;
    }
  }
  @media (max-width: 639px) {
    .image-mb {
      margin-bottom: 7.5rem;
    }
  }

  @media (min-width: 640px) {
    .section-image {
      max-width: 51.722rem;
    }
  }
}

// Conversation
.conversation {
  @media (max-width: 639px) {
    padding-top: 14rem;
    text-align: center;
    padding-bottom: 12rem;
  }
  @media (min-width: 640px) {
    text-align: left;
    padding-top: 19.5rem;
    padding-bottom: 11.1rem;
  }
  .conversation-image-mb {
    @media (max-width: 639px) {
      margin-bottom: 8.7rem;
    }
  }
  @media (min-width: 640px) {
    .conversation-flex-box {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
    .section-image--conversation {
      max-width: 53.1rem;
    }
  }
}

/* Call to action */
.call-to-action {
  text-align: center;
  @media (max-width: 639px) {
    padding-top: 6.4rem;
    padding-bottom: 25rem;
  }
  @media (min-width: 640px) {
    padding-top: 16rem;
    padding-bottom: 18.5rem;
  }
  .cta-heading {
    @media (max-width: 639px) {
      margin-bottom: 4rem;
    }
    @media (min-width: 640px) {
      margin-bottom: 4.2rem;
    }
  }
  .t-cta-heading {
    line-height: 1.5;
    font-weight: $weight-bold;
    font-family: $font-poppins;
    @media (max-width: 769px) {
      font-size: 2.4rem;
    }
    @media (min-width: 770px) {
      font-size: 4rem;
    }
  }
}

// Footer
.footer {
  color: $white;
  .inner-padding {
    @media (max-width: 1199px) {
      padding-top: 5.7rem;
      padding-right: 2.8rem;
      padding-bottom: 4.6rem;
      padding-left: 2.8rem;
    }

    @media (min-width: 1200px) {
      padding-top: 12.2rem;
      padding-right: 12rem;
      padding-bottom: 10.3rem;
      padding-left: 12rem;
    }
  }

  .footer-content {
    background-color: $dark-green;
    .footer-flex-box {
      display: flex;
      justify-content: space-between;
      @media (max-width: 1119px) {
        flex-direction: column;
      }
      @media (min-width: 1200px) {
        flex-direction: row-reverse;

        max-width: 120rem;
        margin: 0 auto;
      }

      .subscribe {
        @media (max-width: 1199px) {
          margin-bottom: 10.4rem;
        }
        @media (min-width: 580px) {
          min-width: 52rem;
          max-width: 52rem;
        }
      }

      .information {
        .footer-logo {
          @media (max-width: 639px) {
            max-width: 20rem;
            margin-bottom: 1.6rem;
          }
          @media (min-width: 640px) {
            max-width: 24rem;
            margin-bottom: 2.7rem;
          }
        }
        .footer-contact {
          display: flex;
          flex-direction: row;
          align-items: center;
          &:nth-child(1) {
            margin-bottom: 1.6rem;
          }
          @media (max-width: 639px) {
            margin-top: 4rem;
            margin-bottom: 4.8rem;
          }
          @media (min-width: 640px) {
            margin-top: 2.4rem;
            margin-bottom: 8rem;
          }
          .footer-icon--contact {
            margin-right: 1.85rem;
          }
        }
        .t-footer-body {
          font-weight: var(--weight-regular);
          font-size: 1.4rem;
          line-height: 1.714;
        }
        .t-footer-body--semi-bold {
          font-weight: var(--weight-semi-bold);
        }
        @media (min-width: 640px) {
          .footer-body {
            max-width: 34rem;
          }
        }
        .socials {
          display: flex;
          align-items: center;
          .social {
            cursor: pointer;
            @media (max-width: 639px) {
              width: 2.3rem;
            }
            @media (min-width: 640px) {
              width: 3.2rem;
            }
            &:not(:last-child) {
              margin-right: 1.733rem;
            }
            @media (min-width: 640px) {
              &:not(:last-child) {
                margin-right: 2.4rem;
              }
            }
          }
        }

        .social__icon {
          transition: var(--transition) color, var(--transition) box-shadow;
        }
        .social:hover .social__icon {
          color: var(--color-pink);
          box-shadow: 0 0.3rem 5rem var(--color-pink);
        }
      }

      .subscribe {
        @media (max-width: 1199px) {
          margin-bottom: 10.4rem;
        }

        @media (min-width: 580px) {
          min-width: 52rem;
          max-width: 52rem;
        }
        .t-subscribe-heading {
          font-weight: var(--weight-bold);
          line-height: 1.5;
          text-transform: uppercase;
          @media (max-width: 639px) {
            font-size: 2rem;
          }
          @media (min-width: 640px) {
            font-size: 2.4rem;
          }
        }

        .t-subscribe-body {
          font-weight: var(--weight-semi-bold);
          line-height: 1.714;
          font-size: 1.4rem;
        }
        .subscribe-body {
          margin-top: 1.6rem;
          @media (max-width: 1199px) {
            margin-bottom: 3.2rem;
          }
          @media (min-width: 1200px) {
            max-width: 34.4rem;
            margin-bottom: 4rem;
          }
        }
        .input-field {
          display: flex;
          justify-content: space-between;
          @media (max-width: 580px) {
            flex-direction: column;
            align-items: flex-end;
          }
          .email__input {
            background-color: $white;
            border-radius: $border-radius-6;
            height: 4.8rem;
            font-size: 1.6rem;
            padding-left: 1.2rem;
            color: $dark-cyan;
            @media (max-width: 374px) {
              width: 100%;
            }
            @media (min-width: 375px) {
              width: 32rem;
            }
            @media (max-width: 580px) {
              margin-bottom: 1.6rem;
            }
          }
        }
      }
    }

    .footer-icon {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .attribution {
      font-size: 1.2rem;
      text-align: center;
      margin-top: 5rem;
    }
  }
}
