@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Poppins:700&display=swap");
html {
  font-size: 62.5%;
  height: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
}

h1,
h2,
h3,
p {
  margin: 0;
}

button {
  background: none;
  border: none;
}
button:hover {
  cursor: pointer;
}

.button--pink {
  color: #fff;
  font-weight: 700;
  background-color: #ff52bf;
  line-height: 1.5;
  box-shadow: 0 0.6rem 1.3rem rgba(255, 82, 193, 0.15);
  transition: 300ms ease-in-out opacity, 300ms ease-in-out transform, 300ms ease-in-out box-shadow;
}
.button--pink:hover {
  opacity: 0.9;
  transform: translateY(-2px);
  box-shadow: 0 0.3rem 2rem rgba(255, 82, 193, 0.15);
}
@media (max-width: 639px) {
  .button--pink {
    font-size: 1.2rem;
    padding: 1.1rem 3.9rem 1.1rem 4rem;
    border-radius: 2rem;
  }
}
@media (min-width: 640px) {
  .button--pink {
    font-size: 2rem;
    padding: 2.5rem 9.9rem 2.5rem 10rem;
    border-radius: 4rem;
  }
}

.button--subscribe {
  line-height: 1.5;
  font-size: 1.6rem;
  color: #fff;
  font-weight: 700;
  background-color: #ff52bf;
  padding: 1.2rem 4.1rem;
  border-radius: 0.5rem;
  transition: 300ms ease-in-out transform, 300ms ease-in-out box-shadow;
}
.button--subscribe:hover {
  transform: translateY(-2px);
  box-shadow: 0 0.3rem 2rem rgba(255, 82, 193, 0.15);
}

a {
  text-decoration: none;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 129.7rem;
}
header .brand {
  display: inline-block;
}
@media (max-width: 639px) {
  header .brand {
    max-width: 9.6rem;
  }
}
@media (min-width: 640px) {
  header .brand {
    max-width: 24rem;
  }
}
@media (max-width: 639px) {
  header {
    padding: 2.4rem 2.4rem 0;
  }
}
@media (min-width: 640px) {
  header {
    padding: 7.8rem 6.3rem 0 8rem;
  }
}
header .brand__logo {
  width: 100%;
}
header .button--header {
  color: #ff52bf;
  text-transform: capitalize;
  font-weight: 400;
  transition: 300ms ease-in-out background-color, 300ms ease-in-out color, 300ms ease-in-out box-shadow, 300ms ease-in-out transform;
}
@media (max-width: 639px) {
  header .button--header {
    line-height: 1.382;
    font-size: 0.941rem;
    border: 0.59px solid #ff52bf;
    border-radius: 1.176rem;
    padding: 0.529rem 1.776rem 0.524rem 1.824rem;
  }
}
@media (min-width: 640px) {
  header .button--header {
    font-size: 1.6rem;
    line-height: 1.375;
    border: 1px solid #ff52bf;
    border-radius: 2rem;
    padding: 0.9rem 3rem 0.9rem 3.1rem;
  }
}
header .button--header:hover {
  background-color: #ff52bf;
  color: #f5faff;
  transform: translateY(-2px);
  box-shadow: 0 0.5rem 1rem rgba(255, 82, 193, 0.15);
}

/* Intro */
.intro {
  text-align: center;
}
@media (max-width: 639px) {
  .intro {
    padding: 11.2rem 4rem 0;
  }
}
@media (min-width: 640px) and (max-width: 1199px) {
  .intro {
    padding: 7.5rem 5rem 0;
  }
}
@media (min-width: 1200px) {
  .intro {
    padding: 22.5rem 0rem 0;
    max-width: 101.6rem;
    margin: 0 auto;
  }
}
.intro .t-intro-heading {
  line-height: 1.5;
  font-weight: 700;
  font-family: Poppins, sans-serif;
}
@media (max-width: 639px) {
  .intro .t-intro-heading {
    font-size: 2.4rem;
  }
}
@media (min-width: 640px) {
  .intro .t-intro-heading {
    font-size: 4.8rem;
  }
}
.intro .intro-body {
  margin-bottom: 4.8rem;
}
@media (max-width: 639px) {
  .intro .intro-body {
    margin-top: 2.4rem;
  }
}
@media (min-width: 640px) {
  .intro .intro-body {
    margin-top: 2.7rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 62rem;
  }
}
@media (max-width: 639px) {
  .intro .intro__image-container {
    margin-top: 10.4rem;
  }
}
@media (min-width: 640px) {
  .intro .intro__image-container {
    margin-top: 12rem;
  }
}
.intro .intro__image-container .intro__image {
  width: 100%;
}
.intro .t-intro-body {
  line-height: 1.5;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
}
@media (max-width: 639px) {
  .intro .t-intro-body {
    font-size: 1.4rem;
  }
}
@media (min-width: 640px) {
  .intro .t-intro-body {
    font-size: 2rem;
  }
}

/* Statistic*/
.statistic {
  padding-top: 12rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 639px) {
  .statistic {
    padding-bottom: 2.17rem;
  }
}
@media (min-width: 640px) {
  .statistic {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 53rem;
    padding-bottom: 13.3rem;
  }
}
@media (min-width: 1200px) {
  .statistic {
    max-width: 88rem;
  }
}
@media (max-width: 639px) {
  .statistic .communities {
    margin-bottom: 8.853rem;
  }
}
.statistic .statistic-image-icon {
  display: flex;
}
@media (max-width: 639px) {
  .statistic .statistic-image-icon__image {
    max-width: 2.8rem;
  }
}
.statistic .statistic-body {
  text-align: center;
}
.statistic .t-statistic-number {
  font-weight: 700;
  line-height: 1.5;
}
@media (max-width: 639px) {
  .statistic .t-statistic-number {
    font-size: 5.352rem;
  }
}
@media (min-width: 640px) and (max-width: 1199px) {
  .statistic .t-statistic-number {
    font-size: 6.7rem;
  }
}
@media (min-width: 1200px) {
  .statistic .t-statistic-number {
    font-size: 9.6rem;
  }
}
.statistic .t-statistic-body {
  color: var(--color-gray-blue);
  font-weight: var(--weight-regular);
  line-height: 1.5;
}
@media (min-width: 1200px) {
  .statistic .t-statistic-body {
    font-size: 2.4rem;
  }
}
@media (max-width: 639px) {
  .statistic .t-statistic-body {
    font-size: 1.338rem;
  }
}
@media (min-width: 640px) and (max-width: 1199px) {
  .statistic .t-statistic-body {
    font-size: 2rem;
  }
}
@media (min-width: 1200px) {
  .statistic .t-statistic-body {
    font-size: 2.4rem;
  }
}

.section-image-container {
  margin: 0 auto;
  width: 74.667%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-image-container .section-image {
  width: 100%;
}
@media (min-width: 640px) {
  .section-image-container {
    margin: 0;
  }
}
@media (min-width: 640px) and (max-width: 1199px) {
  .section-image-container {
    max-width: 36rem;
  }
  .section-image-container .conversation-image-mb {
    margin-right: 2rem;
  }
}
@media (min-width: 1200px) {
  .section-image-container {
    max-width: 56rem;
  }
}

@media (max-width: 639px) {
  .section-container {
    padding: 0 2.7rem;
  }
}
@media (min-width: 640px) and (max-width: 1299px) {
  .section-container {
    padding: 0 5rem;
  }
}
@media (min-width: 1300px) {
  .section-container {
    max-width: 120rem;
    margin: 0 auto;
  }
}
@media (min-width: 640px) and (max-width: 1039px) {
  .section-container .text-container {
    max-width: 36rem;
  }
}
@media (min-width: 1040px) {
  .section-container .text-container {
    max-width: 52rem;
  }
}
@media (max-width: 639px) {
  .section-container .text-container .section-heading {
    margin-bottom: 1.6rem;
  }
}
@media (min-width: 640px) and (max-width: 869px) {
  .section-container .text-container .section-heading {
    margin-bottom: 1.8rem;
  }
}
@media (min-width: 870px) {
  .section-container .text-container .section-heading {
    margin-bottom: 2.6rem;
  }
}
.section-container .text-container .t-section-heading {
  line-height: 1.5;
  font-family: Poppins, sans-serif;
  font-weight: 700;
}
@media (max-width: 639px) {
  .section-container .text-container .t-section-heading {
    font-size: 2rem;
  }
}
@media (min-width: 640px) and (max-width: 869px) {
  .section-container .text-container .t-section-heading {
    font-size: 2.4rem;
  }
}
@media (min-width: 870px) {
  .section-container .text-container .t-section-heading {
    font-size: 4rem;
  }
}
.section-container .text-container .t-section-body {
  line-height: 1.5;
  font-weight: 400;
}
@media (max-width: 639px) {
  .section-container .text-container .t-section-body {
    font-size: 1.4rem;
  }
}
@media (min-width: 640px) and (max-width: 869px) {
  .section-container .text-container .t-section-body {
    font-size: 1.5rem;
  }
}
@media (min-width: 870px) {
  .section-container .text-container .t-section-body {
    font-size: 1.6rem;
  }
}

.section-inner-bg {
  background-color: #f5faff;
}

.curve {
  display: flex;
}

.curve-top__image,
.curve-bottom__image {
  width: 100%;
}

@media (max-width: 639px) {
  .curve-top__image--desktop,
.curve-bottom__image--desktop {
    display: none;
  }
}
@media (min-width: 640px) {
  .curve-top__image--mobile,
.curve-bottom__image--mobile {
    display: none;
  }
}
@media (max-width: 639px) {
  .image-right {
    text-align: center;
  }
}
@media (min-width: 640px) {
  .image-right {
    text-align: left;
  }
  .image-right .flex-box {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }
}
@media (max-width: 639px) {
  .image-right .inner-padding {
    padding-top: 8.222rem;
    padding-bottom: 5.7rem;
  }
}
@media (min-width: 640px) {
  .image-right .inner-padding {
    padding-top: 6.8rem;
    padding-bottom: 4.6rem;
  }
}
@media (max-width: 639px) {
  .image-right .image-mb {
    margin-bottom: 7.5rem;
  }
}
@media (min-width: 640px) {
  .image-right .section-image {
    max-width: 51.722rem;
  }
}

@media (max-width: 639px) {
  .conversation {
    padding-top: 14rem;
    text-align: center;
    padding-bottom: 12rem;
  }
}
@media (min-width: 640px) {
  .conversation {
    text-align: left;
    padding-top: 19.5rem;
    padding-bottom: 11.1rem;
  }
}
@media (max-width: 639px) {
  .conversation .conversation-image-mb {
    margin-bottom: 8.7rem;
  }
}
@media (min-width: 640px) {
  .conversation .conversation-flex-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .conversation .section-image--conversation {
    max-width: 53.1rem;
  }
}

/* Call to action */
.call-to-action {
  text-align: center;
}
@media (max-width: 639px) {
  .call-to-action {
    padding-top: 6.4rem;
    padding-bottom: 25rem;
  }
}
@media (min-width: 640px) {
  .call-to-action {
    padding-top: 16rem;
    padding-bottom: 18.5rem;
  }
}
@media (max-width: 639px) {
  .call-to-action .cta-heading {
    margin-bottom: 4rem;
  }
}
@media (min-width: 640px) {
  .call-to-action .cta-heading {
    margin-bottom: 4.2rem;
  }
}
.call-to-action .t-cta-heading {
  line-height: 1.5;
  font-weight: 700;
  font-family: Poppins, sans-serif;
}
@media (max-width: 769px) {
  .call-to-action .t-cta-heading {
    font-size: 2.4rem;
  }
}
@media (min-width: 770px) {
  .call-to-action .t-cta-heading {
    font-size: 4rem;
  }
}

.footer {
  color: #fff;
}
@media (max-width: 1199px) {
  .footer .inner-padding {
    padding-top: 5.7rem;
    padding-right: 2.8rem;
    padding-bottom: 4.6rem;
    padding-left: 2.8rem;
  }
}
@media (min-width: 1200px) {
  .footer .inner-padding {
    padding-top: 12.2rem;
    padding-right: 12rem;
    padding-bottom: 10.3rem;
    padding-left: 12rem;
  }
}
.footer .footer-content {
  background-color: #00252e;
}
.footer .footer-content .footer-flex-box {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1119px) {
  .footer .footer-content .footer-flex-box {
    flex-direction: column;
  }
}
@media (min-width: 1200px) {
  .footer .footer-content .footer-flex-box {
    flex-direction: row-reverse;
    max-width: 120rem;
    margin: 0 auto;
  }
}
@media (max-width: 1199px) {
  .footer .footer-content .footer-flex-box .subscribe {
    margin-bottom: 10.4rem;
  }
}
@media (min-width: 580px) {
  .footer .footer-content .footer-flex-box .subscribe {
    min-width: 52rem;
    max-width: 52rem;
  }
}
@media (max-width: 639px) {
  .footer .footer-content .footer-flex-box .information .footer-logo {
    max-width: 20rem;
    margin-bottom: 1.6rem;
  }
}
@media (min-width: 640px) {
  .footer .footer-content .footer-flex-box .information .footer-logo {
    max-width: 24rem;
    margin-bottom: 2.7rem;
  }
}
.footer .footer-content .footer-flex-box .information .footer-contact {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.footer .footer-content .footer-flex-box .information .footer-contact:nth-child(1) {
  margin-bottom: 1.6rem;
}
@media (max-width: 639px) {
  .footer .footer-content .footer-flex-box .information .footer-contact {
    margin-top: 4rem;
    margin-bottom: 4.8rem;
  }
}
@media (min-width: 640px) {
  .footer .footer-content .footer-flex-box .information .footer-contact {
    margin-top: 2.4rem;
    margin-bottom: 8rem;
  }
}
.footer .footer-content .footer-flex-box .information .footer-contact .footer-icon--contact {
  margin-right: 1.85rem;
}
.footer .footer-content .footer-flex-box .information .t-footer-body {
  font-weight: var(--weight-regular);
  font-size: 1.4rem;
  line-height: 1.714;
}
.footer .footer-content .footer-flex-box .information .t-footer-body--semi-bold {
  font-weight: var(--weight-semi-bold);
}
@media (min-width: 640px) {
  .footer .footer-content .footer-flex-box .information .footer-body {
    max-width: 34rem;
  }
}
.footer .footer-content .footer-flex-box .information .socials {
  display: flex;
  align-items: center;
}
.footer .footer-content .footer-flex-box .information .socials .social {
  cursor: pointer;
}
@media (max-width: 639px) {
  .footer .footer-content .footer-flex-box .information .socials .social {
    width: 2.3rem;
  }
}
@media (min-width: 640px) {
  .footer .footer-content .footer-flex-box .information .socials .social {
    width: 3.2rem;
  }
}
.footer .footer-content .footer-flex-box .information .socials .social:not(:last-child) {
  margin-right: 1.733rem;
}
@media (min-width: 640px) {
  .footer .footer-content .footer-flex-box .information .socials .social:not(:last-child) {
    margin-right: 2.4rem;
  }
}
.footer .footer-content .footer-flex-box .information .social__icon {
  transition: var(--transition) color, var(--transition) box-shadow;
}
.footer .footer-content .footer-flex-box .information .social:hover .social__icon {
  color: var(--color-pink);
  box-shadow: 0 0.3rem 5rem var(--color-pink);
}
@media (max-width: 1199px) {
  .footer .footer-content .footer-flex-box .subscribe {
    margin-bottom: 10.4rem;
  }
}
@media (min-width: 580px) {
  .footer .footer-content .footer-flex-box .subscribe {
    min-width: 52rem;
    max-width: 52rem;
  }
}
.footer .footer-content .footer-flex-box .subscribe .t-subscribe-heading {
  font-weight: var(--weight-bold);
  line-height: 1.5;
  text-transform: uppercase;
}
@media (max-width: 639px) {
  .footer .footer-content .footer-flex-box .subscribe .t-subscribe-heading {
    font-size: 2rem;
  }
}
@media (min-width: 640px) {
  .footer .footer-content .footer-flex-box .subscribe .t-subscribe-heading {
    font-size: 2.4rem;
  }
}
.footer .footer-content .footer-flex-box .subscribe .t-subscribe-body {
  font-weight: var(--weight-semi-bold);
  line-height: 1.714;
  font-size: 1.4rem;
}
.footer .footer-content .footer-flex-box .subscribe .subscribe-body {
  margin-top: 1.6rem;
}
@media (max-width: 1199px) {
  .footer .footer-content .footer-flex-box .subscribe .subscribe-body {
    margin-bottom: 3.2rem;
  }
}
@media (min-width: 1200px) {
  .footer .footer-content .footer-flex-box .subscribe .subscribe-body {
    max-width: 34.4rem;
    margin-bottom: 4rem;
  }
}
.footer .footer-content .footer-flex-box .subscribe .input-field {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 580px) {
  .footer .footer-content .footer-flex-box .subscribe .input-field {
    flex-direction: column;
    align-items: flex-end;
  }
}
.footer .footer-content .footer-flex-box .subscribe .input-field .email__input {
  background-color: #fff;
  border-radius: 0.6rem;
  height: 4.8rem;
  font-size: 1.6rem;
  padding-left: 1.2rem;
  color: #00252e;
}
@media (max-width: 374px) {
  .footer .footer-content .footer-flex-box .subscribe .input-field .email__input {
    width: 100%;
  }
}
@media (min-width: 375px) {
  .footer .footer-content .footer-flex-box .subscribe .input-field .email__input {
    width: 32rem;
  }
}
@media (max-width: 580px) {
  .footer .footer-content .footer-flex-box .subscribe .input-field .email__input {
    margin-bottom: 1.6rem;
  }
}
.footer .footer-content .footer-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.footer .footer-content .attribution {
  font-size: 1.2rem;
  text-align: center;
  margin-top: 5rem;
}

/*# sourceMappingURL=styles.css.map */
